/* Three columns side by side */
.team-column {
    float: left;
    width: 31%;
    margin-bottom: 16px;
    padding: 8px 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .team-column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .team-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: row;
  }
  
  /* Some left and right padding inside the container */
  .team-container {
    padding: 16px 16px;
  }
  
  /* Clear floats */
  .team-container::after, .team-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .team-title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }